<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>proxy-service</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>stableProxy</param-name>
    <param-value>114.215.140.117:16816;101.200.187.22:16816;101.200.159.196:16816;101.200.185.203:16816;115.28.146.28:16816;120.24.184.6:16816;42.51.156.185:16816;121.41.11.179:16816;122.114.87.228:16816;114.215.174.49:16816</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ShowProxyType</display-name>
    <servlet-name>ShowProxyType</servlet-name>
    <servlet-class>com.heetian.spider.proxy.web.ShowProxyType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProxyType</servlet-name>
    <url-pattern>/ShowProxyType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadResource</display-name>
    <servlet-name>LoadResource</servlet-name>
    <servlet-class>com.heetian.spider.proxy.web.LoadResource</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditProxyType</display-name>
    <servlet-name>EditProxyType</servlet-name>
    <servlet-class>com.heetian.spider.proxy.web.EditProxyType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProxyType</servlet-name>
    <url-pattern>/EditProxyType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCharset</display-name>
    <servlet-name>ShowCharset</servlet-name>
    <servlet-class>com.heetian.spider.proxy.web.ShowCharset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCharset</servlet-name>
    <url-pattern>/ShowCharset</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditCharset</display-name>
    <servlet-name>EditCharset</servlet-name>
    <servlet-class>com.heetian.spider.proxy.web.EditCharset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCharset</servlet-name>
    <url-pattern>/EditCharset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNotStableProxy</display-name>
    <servlet-name>ShowNotStableProxy</servlet-name>
    <servlet-class>com.heetian.spider.proxy.web.ShowNotStableProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNotStableProxy</servlet-name>
    <url-pattern>/ShowNotStableProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowNotStableSiglePvnProxy</display-name>
    <servlet-name>ShowNotStableSiglePvnProxy</servlet-name>
    <servlet-class>com.heetian.spider.proxy.web.ShowNotStableSiglePvnProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNotStableSiglePvnProxy</servlet-name>
    <url-pattern>/ShowNotStableSiglePvnProxy</url-pattern>
  </servlet-mapping>
</web-app>